{% extends "base.html" %}
{% load static %}
{% block content %}
<div class = "NewPost">
    <h1>Редактирование поста</h1>
    <form method = "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <label for="title">Заголовок</label>
        {{form.title}}
        <label for="content">Контент</label>
        {{form.content}}
        <label for="file-upload-input" class="btn btn-primary">Выбрать картинки: </label>
        <div style="display: none;">
            {{form.images}}
        </div>
        <p id="selected-files"></p>

        {% for img in post_att %}
            <div>
                <input type="checkbox" value = "{{img.pk}}" name='attachments'>
                <img src="{{img.file.url}}" style="width: 500px">
            </div>
        {% endfor %}
        <button type="submit">Сохранить пост</button>
    </form>
</div>
<script src="{% static 'scrypt.js' %}"> </script>
{% endblock %}