{% extends "base.html" %}

{% block content %}

<div>
    <h1></h1>
    <form action ="" method = "post">
        <div class="container mt-5">
            <h2 class="text-center">Регистрация</h2>
            <form method="post" class="mt-4">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_first_name" class="form-label">Имя</label>
                    {{ form.first_name }}
                </div>
                <div class="mb-3">
                    <label for="id_last_name" class="form-label">Фамилия</label>
                    {{ form.last_name }}
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label">Почта</label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label for="id_phone" class="form-label">Номер телефона</label>
                    {{ form.phone }}
                </div>
                <div class="mb-3">
                    <label for="password-input" class="form-label">Пароль</label>
                    {{ form.password1 }}
                </div>
                <div class="mb-3">
                    <label for="password-input" class="form-label">Подтверждение пароля</label>
                    {{ form.password2 }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
            </form>
        </div>
    </form>
</div>

{% endblock %}